<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tables</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    DataTables Advanced Tables
                </div>                        
                <!-- /.panel-heading -->

                <div class="panel-body">                            
                   <grid-table id="table1" ng-model="dataSet" set-columns="colunas" editable="true"></grid-table>
                </div>
                <!-- /.panel-body -->

                <!--
                <div class="panel-body">
                    <grid-table id="table2" ng-model="dataSet2" set-columns="colunas2"></grid-table>
                </div>
                -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->            
</div>
<!-- /#page-wrapper -->